div.item
  div.head-comment
    div.title
      span titel:
      span!= comment.title
    div.user
      span name: 
      span!= comment.user.name
    div.date
      span date: 
      span!= comment.date.toDateString()

  div.body-comment
    div.text
      != comment.body
    div.buttons
      a(class='destroy', href='/comments/delete/'+comment._id, title="delete")
        img(src="/img/remove.png")