div.item
  div.head-comment
    div.title
      != comment.title
    div.user
    div.date
      != comment.date.toDateString()

  div.body-comment
    div.text
      != comment.body
    div.buttons
      a(class='destroy', href='/comments/delete/'+comment._id, title="delete")
        img(src="/img/remove.png")