h4 Add comment

form( method="post", action="/comments/create/" + post._id)
    div
        div
            div Title :
            input(type="text", name="comment_title", id="editArticleTitle")
        div
            div Body :
            textarea(name="comment_body", rows="4", cols="100", id="editArticleBody")
        div#editArticleSubmit
            input(type="submit", value="Send")