div#message!= messages()

#grid-view
    h3= title
    - each post in posts
      div.item
        div.title
            a(href='/posts/show/' + post._id)= post.title
        div.buttons
            a(href='/posts/edit/' + post._id)
                img(src="/img/edit.png")
            a(href='/posts/delete/' + post._id)
                img(src="/img/remove.png")