div#message!= messages()

#grid-view
    h3= title
    - each post in posts
      div.item
        a(href='/posts/' + post._id)
            div.title= post.title
            div.buttons
                a(href="")
                    img(src="")
                a(href="")
                    img(src="")