!!!
html
  head
    title= title
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#wrapper
        div#header
            a(href="/") 
                img#logo(src="/img/meinBlog.png",width="100",height="100")
            div#blog-title
                h1 mein Blog
        div#menu
            ul
                a(href="/") 
                    li home
                a(href="login")
                    li login
                a(href="logout")
                    li logout
                a(href="register")
                    li register
                a(href="userList")
                    li users
                a(href="newpost")
                    li write post
        div#content!= body
        div#footer
            div This website and its content is copyright of Alexander Ritz, Jakob Schweighofer, Laurenz Theuerkauf, Milo Tischler, Paul Neuhold - &copy 2012. All rights reserved.
