!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#wrapper
        div#header
            img#logo
        div#menu
            ul
                a(href="")
                    li home
                a(href="login")
                    li login
                a(href="register")
                    li register
                a(href="users")
                    li users
                a(href="newpost")
                    li write post
        div#content!= body
        div#footer