h3= user1
form( method="post", action="/login")
    div
        span UserName :
        input(type="text", name="title", id="loginName")
    div
        span Password :
        input(type="password", name="password", id="password")
    div
        input(type="submit", value="Send" , id="loginButton")

