h3= title
form( method="post", action="/register")
    div
        span UserName :
        input(type="text", name="loginName", id="loginName")
    div
        span Password :
        input(type="password", name="password", id="password")
    div
        span Repeat Password :
        input(type="password", name="passwordRepeat", id="passwordRepeat")
    div
        input(type="submit", value="Register" , id="registerButton")