#grid-view
    h3= title
    - each user in users
      div.item
        a(href='/userList/' + user._id)
            div.title= user.title
            div.buttons
                a(href="href='/edit/' + user._id)!= "edit"
                    img(src="/img/edit.png")
                a(href='/remove/' + user._id)!= "remove"
                    img(src="/img/remove.png")