h3= title
form( method="post", action="/edit")
    table(width="100px")
        tr
            td
                span UserName :
                input(type="text", name="UserName", id="UserName")
        tr
            td
                span Password :
                input(type="password", name="password", id="password")
        tr
            td
                input(type="submit", value="Send" , id="editButton")