h3= title
div#message!= messages()
form( method="post", action="/login")
    div.login
        div    
            span UserName :
        div 
            input(type="text", name="loginName", id="loginName")
        div
            span Password :
        div
            input(type="password", name="password", id="password")   
        div    
            input(type="submit", value="Send" , id="loginButton")