h3= title
!= messages()
form( method="post", action="/login")
    table(width="100px")
        tr
            td
                span UserName :
                input(type="text", name="loginName", id="loginName")
        tr
            td
                span Password :
                input(type="password", name="password", id="password")
        tr
            td
                input(type="submit", value="Send" , id="loginButton")