h3= title
form( method="post", action="/register")
    div#message!= messages()
    div
        span UserName :
    div
        input(type="text", name="loginName", id="loginName")
    div
        span Password :
    div   
        input(type="password", name="password", id="password")
    div         
        span Repeat Password :
    div    
        input(type="password", name="passwordRepeat", id="passwordRepeat")
    div
        input(type="submit", value="Register" , id="registerButton")