h3= title
form( method="post", action="/register")
    != messages()
    table(width="100px")
        tr
            td
                span UserName :
                input(type="text", name="loginName", id="loginName")
        tr
            td
                span Password :
                input(type="password", name="password", id="password")
        tr
            td            
                span Repeat Password :
                input(type="password", name="passwordRepeat", id="passwordRepeat")
        tr
            td
                input(type="submit", value="Register" , id="registerButton")