body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
  background-color: #444

#header
  height 100px
  width 960px

#menu 
  width 960px
  height 30px
  background-color: #444

#menu ul
  list-style none
  display inline

#menu ul a li
  margin 10px 20px
  float left

#menu ul a:link li,#menu ul a:active li ,#menu ul a:focus li,#menu ul a:visited li
  color #fff
  font-weight bold

#menu ul a:hover li
  color #555
  background-color #eee
  font-weight bold

#wrapper
  width 960px
  margin 0 auto
  background-color #eee
  -moz-border-radius: 15px;
  border-radius: 15px;

#content
  width 960px

#footer
  width 960px
  height 50px

h1, h2
  margin 0
  font-size 22px
  color #343434

h3
  font-size 25px


h1
  text-shadow 1px 2px 2px #ddd
  font-size 60px

#articles
  text-align left
  margin-left auto
  margin-right auto
  width 320px
  .article
    margin 20px
    .created_at
        display none
    .title
        font-weight bold
        text-decoration underline
        background-color #eee
    .body
        background-color #ffa