body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
  background-color: #444

#header
  height 100px
  width 960px

#logo
  float left

#blog-title h1
  padding 20px
  color #648f88

#menu 
  width 959px
  height 30px
  background-color: #444
  border-right 1px solid #eee

#menu ul
  list-style none
  display inline

#menu ul a
  padding 8px 20px
  border-left 1px solid #eee
  float left
  text-decoration none

#menu ul a:link li,#menu ul a:active li ,#menu ul a:focus li,#menu ul a:visited li
  color #fff
  font-weight bold

#menu ul a:hover li
  color #555

#menu ul a:hover
  background-color #eee
  font-weight bold

#menu ul a:last-child
  border-right 1px solid #eee

#wrapper
  width 960px
  margin 0 auto
  background-color #eee
  -moz-border-radius: 15px;
  border-radius: 15px;

#content
  width 920px
  padding-left 20px
  padding-right 20px
  padding-top 20px
  padding-bottom 20px

#footer
  border-top 2px solid #444
  width 960px
  height 40px
  div
    text-align center
    margin: 10px

h1
  margin 0
  font-size 60px
  color #648f88
  text-shadow 1px 2px 2px #444

h3
  color #648f88
  text-shadow 1px 2px 2px #444
  font-size 24px

#posts
  text-align left
  margin-left auto
  margin-right auto

  width 800px
  .item
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color #bbb
    margin 20px 0
    a
      text-decoration none
      color #555 
      .item-head 
        overflow hidden
        padding 10px
        border-bottom 1px solid #eee
        .date
          width 180px
          float right
        .title
          width 500px
          float left
          font-weight bold
      .body
        padding 10px 



#grid-view
  text-align left
  margin-left auto
  margin-right auto
  width 800px
  .item
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color #bbb
    overflow hidden
    padding 0 10px
    margin 10px 0
    height 40px 
    .buttons
      padding-top 10px
      width 50px
      float right
    .title
      padding-top 10px
      width 620px
      float left
      a
        text-decoration none
        color #555 


#single-box
  text-align left
  margin-left auto
  margin-right auto
  width 800px     
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color #bbb   
  padding 10px
  .button
    width 300px
  .buttons
    width 50px
    float right
  .head
    width 780px
    margin 10px
    overflow hidden
    .date
      float right
      text-align right
      width 180px
  .body
    -moz-border-radius: 5px;
    border-radius: 5px;
    width 760px
    padding 20px
    background-color #eee
    margin-bottom 20px

.box
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin 10px 0
  width 760px
  padding 20px
  background-color #eee

.box-comments
  .item
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin 10px 0
    width 760px
    padding 20px
    background-color #eee
    .head-comment
      overflow hidden
      border-bottom 1px solid #bbb
      .title
        float left
      .user
        float left
      .date
        float right
    .body-comment
      overflow hidden
      width 760px
      .text
        width 700px
      .buttons
        width 50px
        float right

#message
  background-color #648f88
  margin-left auto
  margin-right auto
  width 800px     
  -moz-border-radius: 5px;
  border-radius: 5px;
  color #efefef

#messages
  padding 5px
  ul
    li
      color #efefef
