body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
  background-color: #444;
}
#header {
  height: 100px;
  width: 960px;
}
#menu {
  width: 959px;
  height: 30px;
  background-color: #444;
  border-right: 1px solid #eee;
}
#menu ul {
  list-style: none;
  display: inline;
}
#menu ul a {
  padding: 8px 20px;
  border-left: 1px solid #eee;
  float: left;
  text-decoration: none;
}
#menu ul a:link li,
#menu ul a:active li,
#menu ul a:focus li,
#menu ul a:visited li {
  color: #fff;
  font-weight: bold;
}
#menu ul a:hover li {
  color: #555;
}
#menu ul a:hover {
  background-color: #eee;
  font-weight: bold;
}
#menu ul a:last-child {
  border-right: 1px solid #eee;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: #eee;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#content {
  width: 960px;
  padding: 20px;
}
#footer {
  width: 960px;
  height: 50px;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h3 {
  font-size: 25px;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#posts {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#posts .post {
  margin: 20px;
}
#posts .post .created_at {
  display: block;
}
#posts .post .title {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
#posts .post .body {
  background-color: #ffa;
}
#userlist {
  text-align: left;
}
